@model IEnumerable<Book>

<div class="row">
    <nav class="navbar navbar-expand-lg">
        <div class="navbar-nav">
            <a class="nav-item nav-link" asp-area="User" asp-controller="Home" asp-action="Index" asp-route-sort="popular">
                    <img src="/icon/fire.svg" class="icon" />Trending
            </a>
            <a class="nav-item nav-link" asp-area="User" asp-controller="Home" asp-action="Index" asp-route-sort="bestSeller">
                <img src="/icon/bestSeller.svg" class="icon" />Best Seller
            </a>
            <a class="nav-item nav-link" asp-area="User" asp-controller="Home" asp-action="Index" asp-route-sort="highestPrice">
                <img src="/icon/desc.svg" class="icon" />High to Low Price
            </a>
            <a class="nav-item nav-link" asp-area="User" asp-controller="Home" asp-action="Index" asp-route-sort="lowestPrice">
                <img src="/icon/asc.svg" class="icon" />Low to High Price
            </a>
            <a class="nav-item nav-link" asp-area="User" asp-controller="Home" asp-action="Index" asp-route-sort="newBook">
                <img src="/icon/new.svg" class="icon" />New Book
            </a>
        </div>
    </nav>

    @foreach (var product in Model)
    {
       
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">

                <div class="col-12 p-1">
                    <a asp-action="Details"
                       asp-route-productId="@product.BookID"
                       class="text-decoration-none">
                        <div class="card border-0 p-3 shadow  border-top border-5 rounded d-flex justify-content-center  card-book">
                            @if (product.FrontBookUrl != null && product.FrontBookUrl.Count() > 0)
                            {
                                <div class="position-relative">
                                    <img src="@product.FrontBookUrl" class="card-img-top book-image-home" />
                                    @if (product.Condition)
                                    {
                                        <span class="badge rounded-pill badge-notification bg-info position-absolute top-0 start-100 translate-middle">New</span>

                                    }
                                    else
                                    {
                                        <span class="badge rounded-pill badge-notification bg-warning position-absolute top-0 start-100 translate-middle">99%</span>

                                    }

                                </div>
                            }
                            else
                            {
                                <img src="https://placehold.co/500x600/png" class="card-img-top rounded" />
                            }

                            <div class="card-body pb-0">
                                <div class="pl-1">
                                    <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.Title</p>
                                    <p class="card-title text-warning text-center"> Condition : <b>@(product.Condition ? "Stocking" : "Out of Stock")</b></p>

                                   
                                </div>
                                <div class="pl-1">
                                    <h3 class="text-dark text-center">
                                        <span>
                                            @product.Price.ToString("c")
                                        </span>
                                    </h3>
                                </div>
                            </div>
                            <div>
                           @*      <form method="post" asp-action="AddtoCartFromHome" asp-controller="Home" asp-area="User">
                                    <input hidden asp-for="@product.BookID" />
                                    <button type="submit" class="btn btn-primary bg-gradient w-100 py-2 text-uppercase fw-semibold">
                                        Add To Cart
                                    </button>
                                </form> *@
                                
                            </div>
                        </div>
                    </a>

                </div>
            </div>

        </div>
    }

</div>